<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @posts.each do |p| %>
      <%= p.name %><br>
      <%= p.content %><br>
    <% end %>
  </body>
</html>